$color-white: #fff;
$color-mustard: #fbbf24;
$color-blue-1: #457aee;
$color-blue-2: #2563eb;
$color-grey-1: #f8fafc;
$color-grey-2: #f3f4f6;
$color-grey-3: #d1d5db;
$color-grey-4: #21211e;
$color-green: #059669;
$color-red: #ff3f56;
$color-black: #121211;
$linear-gradient: linear-gradient(284deg, rgba(116, 79, 168, 1) 0%, rgba(104, 118, 223, 1) 100%);

$breakpoint-xs: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1280px;
$breakpoint-xxxl: 1450px;

:root {
  --color-blue-1: #{$color-blue-1};
  --color-white: #{$color-white};
  --color-mustard: #{$color-mustard};
  --color-blue-2: #{$color-blue-2};
  --color-grey-1: #{$color-grey-1};
  --color-grey-2: #{$color-grey-2};
  --color-grey-3: #{$color-grey-3};
  --color-grey-4: #{$color-grey-4};
  --color-green: #{$color-green};
  --color-red: #{$color-red};
  --color-black: #{$color-black};
  --linear-gradient: #{$linear-gradient};
}
