@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  *:focus {
    outline: none;
  }

  &.js-user-is-tabbing *:focus {
    outline: 4px solid var(--focus-ring);
    position: relative;
    z-index: 999;
    border-radius: 4px;
  }
}

body {
  margin: 0;

  @include mq($from: $breakpoint-lg) {
    max-height: 100vh;
    overflow: hidden;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

p,
h2 {
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}
input,
select,
textarea,
option {
  background-color: white;
  border: 1px solid var(--color-grey-3);
  border-radius: 4px;
  padding: 16px;
  color: var(--color-grey-4);
}

.cta {
  background: var(--linear-gradient);
  color: var(--color-white);
  width: 160px;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;

  &--align-left-sm {
    align-self: flex-end;
  }

  span {
    margin-right: 8px;
  }
}
